@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    /* background-color: rgb(224, 249, 255);*/
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    transition: 0.7s ease;
}

.logo {
    text-decoration: none;
    color: rgb(0, 181, 187);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8em;
    border-radius: 10px;
    transition: color 1.5s;
}

.logo:hover {
    color: rgb(86, 224, 224);
}

.navigation a {
    text-decoration: none;
    color: rgb(0, 163, 168);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(0, 209, 209);
    font-size: 1.2em;
}

section {
    padding: 100px 100px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/img1.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: black;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 2px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

.main-btn:hover {
    /*  background-color: rgb(0, 209, 209);*/
    color: aliceblue;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    display: inline-block;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.6s ease;
}

.social-icons a:hover {
    color: rgb(0, 209, 209);
    transform: scale(1.1);
}

.gradient-border {
    --borderWidth: 3px;
    background: #00000070;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 163, 168);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 20px rgba(1 1 1 /50%);
    border-radius: 10px 0px;
    padding: 20px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: rgb(0, 163, 168);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(0, 163, 168);
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: rgba(0, 0, 0, 0.856);
}

.projects.content {
    margin-top: 30px;
}

.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-img img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #00000083
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: turquoise;
}

.more-details:hover {
    color: rgb(172, 51, 172);
}

.content .icon {
    font-size: 4.5em;
}

.content .info h3 {
    color: #00000070;
}

.content .p {
    font-size: 1.5em;
}

.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title span {
    color: rgb(106, 209, 212);
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main h2 {
        font-size: 2em;
    }
    .main h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }
    .main h2 {
        font-size: 0.8em;
    }
    .main h3 {
        font-size: 1.3em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}